.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
}

.ctrl {
  display: flex;
  justify-content: flex-end;
}
