.wrap {
  text-align: center;
}

.btn {
  :global {
    .anticon {
      margin-inline-start: 4px;
    }
  }
}

.active {
  // background: rgba(0, 0, 0, 0.05) !important;
  svg {
    fill: #85a5ff !important;
  }
}
