.inputSearch {
  color: #333;
  width: 250px;
  border-radius: 20px;
  padding: 5px 10px 5px 5px;
  background: #f6f6f6;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-right: 4px;
  svg {
    fill: #888;
  }
}

.input {
  &:global(.ant-input) {
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: #666;
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}

.searchButton {
  font-size: 14px;
}
