.TopTip {
  background-color: #fff;
  padding: 0 20px 12px;
  border-radius: 3px;
  img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
  h2 {
    font-size: 14px;
  }
  p {
    color: rgba(0, 0, 0, 0.45);
    font-size: 12px;
    margin-bottom: 0;
  }
}

.header {
  margin-bottom: 5px;
}

.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  padding-top: 5px;
  display: flex;
  gap: 5px;
  z-index: 10;
}
