.TopTip {
    background-color: #fff;
    padding: 0 20px 20px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    img {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }
    h2 {
        font-size: 14px;
    }
    p {
        color: rgba(0, 0, 0, 0.45);
        font-size: 12px;
        margin-bottom: 0;
    }
}
