.timeline {
  margin-bottom: -40px;
  .timelineTitle {
    display: inline-flex;
    align-items: center;
    position: relative;
    background: #df542f;
    color: #fff;
    padding-right: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -10px;
    margin-bottom: 13px;
    svg {
      fill: #fff;
    }
  }
  .timelineTime {
    color: #97999f;
  }
  .timelineItemContent {
    background: #f6f7f9;
    padding: 1px 10px;
    border-radius: 8px;
  }
}

.delete {
  svg {
    fill: #ff4d4f;
  }
}
