.write {
  .input {
    width: 100%;
    border: none;
    height: 100%;
    background-color: #f5f5f5;
    padding: 5px 10px;
    &:focus {
      outline: none;
      box-shadow: none;
      background-color: #f5f5f5;
    }
    &:hover {
      background-color: #f5f5f5;
    }
  }
  :global {
    .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
    .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
      background-color: #f5f5f5;
      border-color: #ff4d4f;
    }
  }
  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
  }
}

.footer {
  display: flex;
}

.inputWrap {
  flex: 1 0 auto !important;
}

.footerBtn {
  &:global(.ant-btn) {
    background-color: #f1f2f3;
    border: none;
    color: #9499a0;
  }
}
