.wrap {
    position: fixed;
    left: 50%;
    top: 80px;
    margin-left: 290px;
    width: 260px;
    bottom: 0;
    // border-left: 1px solid #f1f1f1;
}

.profit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    .name {
        font-size: 16px;
        margin: 0;
        color: rgba(0, 0, 0, .65);
    }

    .desc {
        font-size: 12px;
        color: rgba(0, 0, 0, .45);
        margin: 0;
    }
}

.meta {
    display: flex;
}

.metaItem {
    flex: 1 0 auto;
    text-align: center;

    .metaItemDesc {
        color: rgba(0, 0, 0, .45);
        font-size: 12px;
    }
}

.func {
    display: flex;
    gap: 10px;
    justify-content: center;
}