.wrap {
  background-color: #fff;
  padding: 0 0 10px;
}

.tabs {
  :global {
    .ant-tabs-tab-active {
      a {
        color: rgba(0, 0, 0, 0.65);
      }
    }
    .ant-tabs-ink-bar {
      background-color: rgba(0, 0, 0, 0.65);
    }
  }
}

.a {
  color: rgba(0, 0, 0, 0.65);
}

.switch {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 0 !important;
  .switchItem {
    border-radius: 0 !important;
    padding-bottom: 2px;
    height: auto;
    border-bottom: 2px solid transparent;
    &.active {
      border-bottom-color: #85a5ff !important;
      color: #85a5ff;
    }
    &:hover {
      color: #85a5ff;
    }
  }
  svg {
    display: block;
  }
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.description {
  color: rgba(0, 0, 0, 0.45);
  margin: 0;
  margin-bottom: 10px;
  padding-left: 10px;
  text-align: center;
}
