.section {
  background-color: #fff;
  padding-top: 20px;
  + .section {
    margin-top: 10px;
  }
}

.title {
  padding-left: 10px;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 10px;
  font-size: 14px;
  margin-bottom: 0;
}

.list {
  padding: 6px 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.itemA {
  display: flex;
  gap: 10px;
  padding: 6px 10px;
  align-items: center;
  text-decoration: none;
  &:hover {
    filter: opacity(0.8);
  }
  .avatar {
    width: 32px;
    height: 32px;
    flex: 1 0 auto;
    max-width: 32px;
  }
  p {
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.65);
  }
}
